<div id="scenario-play-dialog">
    <h2>Scenario Player</h2>

    <!-- Dynamic Questions Container -->
    <form id="dynamic-inputs-container" class="flex-container flexFlowColumn marginTop10">
        <!-- Questions will be dynamically added here -->
    </form>

    <!-- Template for dynamic input -->
    <template id="dynamic-input-template">
        <fieldset class="dynamic-input-group marginTop10">
            <div class="flex-container flexFlowColumn">
                <label class="input-question"></label>
                <div class="input-container">
                    <!-- Input will be dynamically added here based on type -->
                </div>
                <span class="validation-error" style="color: red; display: none"></span>
            </div>
        </fieldset>
    </template>
</div>
