<div id="scenario_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Gaycuma</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="flex-container marginTopBot5">
                <label class="checkbox_label expander" for="scenario_is_enabled">
                    <input id="scenario_is_enabled" type="checkbox" />
                    Enable Gaycum
                </label>
            </div>
        </div>
    </div>
</div>
